@model ShaulisBlog.Models.Post

@{
    ViewBag.Title = "Delete";
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<h2>Delete post</h2>

<h3>Are you sure you want to delete this post?</h3>
<div>
    <article class="blogPost">
        <header>
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <p>
                Posted on <time datetime=@Html.DisplayFor(model => model.PostDate)>@Html.DisplayFor(model => model.PostDate)</time>
                by <a href=@Html.DisplayFor(model => model.AuthorSiteAddr)></a> -@Html.DisplayFor(model => model.Author)
                @if (Model.Comments != null)
                {
                    <a href = "@Url.Action("Details", "Managmetn", new { id = Model.PostID })">@Html.DisplayFor(modelitem => Model.Comments.Count) comments </a>
                }
            </p>
        </header>
        <div class="post_body">
            <p>@Html.DisplayFor(model => model.PostText)</p>

          <!--@if (@Html.DisplayFor(model => model.Video).ToString() != string.Empty)
            {
                <video controls="controls">
                    <source src="@Html.DisplayFor(model => model.Video)" type="video/mp4" />
                </video>
            }

            @if (@Html.DisplayFor(model => model.Photos).ToString() != string.Empty)
            {
                <img src="@Html.DisplayFor(model => model.Photos)" alt="@Html.DisplayName(Model.Photos)" />
            }-->  
        </div>
    </article>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                <input type="submit" value="Delete" class="mdl-button mdl-js-button mdc-button--dense	 mdl-js-ripple-effect" />
                <button class="mdl-button mdl-js-button mdc-button--dense	 mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Management")'">Back to List</button>
        </div>
    }

</div>
