@model TryAgain.Models.Comment

@{
    ViewBag.Title = "Update comment";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<h4>Comment Details</h4>
<section>
    <div>

        <article class="blogComment">
            <header>
                <h5>@Html.DisplayFor(model => model.Title)</h5>
                <p>
                    <b> commented on </b> <time datetime=@Html.DisplayFor(model => model.CommentDate)>@Html.DisplayFor(model => model.CommentDate)</time>
                    <b> by: </b> @Html.DisplayFor(model => model.Commenter)  <b> website </b> @Html.DisplayFor(model => model.CommenterSiteAddr) 
                </p>
            </header>
            <div class="post_body">
                <p>@Html.DisplayFor(model => model.Text)</p>
            </div>
        </article>

    </div>
</section>
<p>
    <button class="mdl-button mdl-js-button mdc-button--dense	 mdl-js-ripple-effect " onclick="location.href='@Url.Action("Edit", "Blog", new { id = Model.CommentID  })'">Edit Comment</button>
    <button class="mdl-button mdl-js-button mdc-button--dense	 mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Blog" , new { id = Model.PostID })'">Go to post</button>
    <button class="mdl-button mdl-js-button mdc-button--dense	 mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Managment" )'">Back to list</button>
</p>



