@model ShaulisBlog.Models.Post

@{
    ViewBag.Title = "Blog";
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<h2>Blog Post</h2>

 <section>
        <article class="blogPost">
            <header>
                <h4>@Html.DisplayFor(model => model.Title)</h4>
                <p>
                    Posted on <time datetime=@Html.DisplayFor(model => model.PostDate)>@Html.DisplayFor(model => model.PostDate)</time>
                    by <a href=@Html.DisplayFor(model => model.AuthorSiteAddr) ></a> : @Html.DisplayFor(model => model.Author)
                    <a href="#comments"> @Html.DisplayFor(model => model.Comments.Count) comments</a>
                </p>
            </header>
            <div class="post_body">
                <p>@Html.DisplayFor(model => model.PostText)</p>

                @if (@Html.DisplayFor(model => model.Video).ToString() != string.Empty)
                {
                    <video controls="controls">
                        <source src="@Html.DisplayFor(model => model.Video)" type="video/mp4" />
                    </video>
                }

                @if (@Html.DisplayFor(model => model.Photos).ToString() != string.Empty)
                {
                   <img src="@Html.DisplayFor(model => model.Photos)" alt="Flower" />
                }
            </div>
        </article>
 
        <!--The comment of the post under the post section-->
        @if (Model.Comments != null)
        {
            foreach (var comm in Model.Comments)
            {
                    <h3>Comments</h3>
                    <article class="blogcomment">
                        <header>
                            <a href="#">@Html.DisplayFor(modelitem => comm.Title)</a>
                            on <time datetime=@Html.DisplayFor(modelitem => comm.CommentDate)>@Html.DisplayFor(modelitem => comm.CommentDate)</time>
                            by <a href="@Html.DisplayFor(modelitem => comm.CommenterSiteAddr)">@Html.DisplayFor(modelitem => comm.Commenter)</a>
                        </header>
                        <div></div>
                        <p>@Html.DisplayFor(modelitem => comm.Text)</p>
                    </article>

                    <button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Delete", "Blog", new { id = comm.CommentID })'">Delete comment</button>

            }
        }
</section>

<button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Create", "Blog", new { id = Model.PostID })'">Add a new comment</button>
<button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Managment", "Go to posts list")'">Go to posts list</button>
